.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 800px;
  height: 80%;
  overflow-y: auto;
  position: relative;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.modal-close, .modal-copy {
  background-color: #fff;
  border: 1px solid #b0c4de;
  color: #000;
  /*padding: 10px 20px;*/
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
}

.modal-close:hover, .modal-copy:hover {
  background-color: #e0e0e0;
}